<h1>test</h1>

<div class="page-header text-user">
	<h1><span class="fa fa-pencil"></span> The Best Deals in Town</h1>
</div>

	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-table"></span> The Meal Deals</h3>
		</div>
	</div>

<div class="row">
<h3><span class="fa fa-table"></span> Submit a new deal</h3>
	<div class="col-sm-6">
		 <form action="/deals" method="post">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" name="title">
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="password" class="form-control" name="price">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Submit</button>
			</form>
	</div>
</div>
