<ul class="nav nav-tabs">
  <li class="nav-item">
	<a href="/" class="nav-link active">Home</a>
  </li>

  <li class="nav-item">
	<a href="/profile" class="nav-link">Profile</a>
  </li>
  <li class="nav-item">
	<a href="/deals" class="nav-link">Deals</a>
  </li>
  <li class="nav-item">
	<a href="/vendors/" class="nav-link">Vendors</a>
  </li>
  <li class="nav-item">
	<a href="/tweets" class="nav-link">Tweets</a>
  </li>
  <li class="nav-item">
	<a href="/login" class="nav-link">Login</a>
  </li>
  <li class="nav-item">
	<a href="/signup" class="nav-link">Sign Up</a>
  </li>
</ul>
