
		<h1>What are you looking for?</h1>
		<form action="/tweets" name="search">
	      <div class="form-group">
	        <input type="text" class="form-control">
	      </div>
	      <botton id="tweetBtn" class="btn btn-default">Send</button>
	    </form>
	    <div id="tweet-container"></div>
